.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 2em;
}

.ui-grid {
  display: grid;
  grid-template-areas:
    "income expense savings"
    "transfer transfer transfer";
  gap: 1em;
  width: 100%;
  height: 100%;
  grid-auto-rows: 3fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.grid-income {
  grid-area: income;
}
.grid-expense {
  grid-area: expense;
}
.grid-savings {
  grid-area: savings;
}
.grid-transfer {
  grid-area: transfer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 50%;
  align-items: flex-start;
  text-align: left;
}

ul {
  text-align: right;
  padding: 1.5em;
}

.cash-flow-list {
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  white-space: nowrap;
  height: 50%;
}

.center {
  align-self: center;
}

.savings-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
