.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 2em;
}

.ui-grid {
  display: grid;
  grid-template-areas:
    "income expense savings"
    "transfer transfer transfer";
  gap: 1em;
  width: 100%;
  height: 100%;
  grid-auto-rows: 3fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  padding: 1em;
}

.grid-income {
  grid-area: income;
}
.grid-expense {
  grid-area: expense;
}
.grid-savings {
  grid-area: savings;
}
.grid-transfer {
  grid-area: transfer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 50%;
  align-items: start;
  text-align: left;
}
